html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffac47;
  background-color: #898d96;
  margin:0px;
}

h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h6 {
  font-size: 12pt;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.tos {
  position: relative;
  top: 20px;
  margin: 20px;
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.subtitle {
  font-weight: bold;
}

.section {
  position: relative;
  left: 25px;
  width: 95%;
}

.subsection {
  position: relative;
  left: 50px;
  width: 90%;
}

.part {
  position: relative;
  left: 75px;
  width: 85%;
}

.subpart {
  position: relative;
  left: 100px;
  width: 80%;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 15px;
  width: 90%;
  height: auto;
  background-color: white;
}

.instructions {
  margin: 20px;
}

.app-entry {
  font-size: 16pt;
  font-family: helvetica;
  margin: 10px;
  padding-bottom: 10px;
  position: relative;
  top:20px;
}

.app-icon {
  display:block;
  width:150px;
  float:right;
  margin-left:5px;
  margin-right:10px;
}

.app-instructions {
  font-size: 14pt;
  position: relative;
  width: auto;
}


#menu-bar {
  width: 100%;
  height: 160px;
  background-color: #f57b0a;
  background-image: linear-gradient(#f57b0a , #f09c1f);
  box-shadow: 0px -40px 50px 25px #4d2502;
}

#logo {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #e3eeff;
  border-radius: 30px;
}

#logo-container {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4%;
  background-color: #e3eeff;
  border-radius: 30px;
  box-shadow: 0px 0px 50px 1px #4d2502;
}

#main-block {
  width: 50%;
  height: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e3eeff;
  border-radius: 30px;
  overflow: scroll;
}

#content-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 15px;
  width: 90%;
  height: auto;
  background-color: white;
}

#google-form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  width: 100%;
}

#instructions-container {
  font-size: 16pt;
  font-family: helvetica;
}

#apps-container {
  height: 600px;
}
